/* Selector {
    property: value;
} */

body {
    background-image: url(background.jpg);
    background-size: cover;
}

h2:hover {
    color: #AA4139;
    text-align: center;
    border: 5px solid rgba(255, 176, 170, 0.5);
    cursor: pointer
}

p {
    color: pink;
}

p {
    line-height: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 150%;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Dancing Script', cursive;
}

img {
    float: left;
}

li {
    list-style: none;
    display: inline-block;
}